body {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
}

.image-block {
    display: block;
    height: 200px;
    background-position: center;
    border-radius: 20px;
    border: 1px dashed #cccccc;
}

@media (max-width: 600px) {
    .image-block {
        height: 150px;
        margin-top: 20%;
    }
}

.description-block {
    padding-left: 4%;
}

.project-row {
    margin-top: 3%;
    overflow: hidden;
}

i.link-icon {
    vertical-align: middle;
}

a.title-link {
    color: black;
    text-decoration: none;
}

p {
    margin-bottom: 0;
    color: black;
}

a.project-link  {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.container {
    width: 100%;
}
